

body{
    height:100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #5826bd);
    
   
}
.header{
    display: flex;
    justify-content: center;
}
.Date{
    
    display: grid;
    justify-content: center;
}
label{
    display: flex;
     align-items: baseline;
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size:100%;
    color: #080808;

}


.Date input{
    display: flex;
    height: 30px;
    margin-top: 19px;
    
    border-radius: 23px;
    box-shadow: 0 0 10px #0000001a;
    font-weight: 40;
   

}   
        
.enviar{
    display: flex;
    justify-content: center;
    
}  


